/* CSS files add styling rules to your content */
html{
   width:100%;
   height:100%;
   padding:0px;
   margin:0px;
   position:absolute;
   background-color:#191111;  
}
#boy{
  margin:0;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  position:absolute;
  padding:0;
  background-color:#302f2f;
  width:100%;
  height:100%;
}
.lost{
    visibility:visible;
}
#vid{
    width:50%;
    float:right;
    height:70%;
    background-color:blue;
}
#videos{
    color:white;
    height:100%;
    width:100%;
    font-size:20px;
    border-radius:7px;
    background-color:green
}

#search{
    width:100%;
    color:#251026;
    height:20%;
    background-color:;
    color:black;
}
#hy{
    width:100%;
    height:100%;
}
#tile{
    color:red; 
    margin:auto;
    text-align:center;
    width:70%;
    height:10%;
    background-color:yellow;
}
#next_near{
    background-size:cover;
    background-position:center;
    width:100%;
    height:50%;
    background-color:#ffffff;
}

#thollie{
    height:90%;
    opacity:0.8;
    width:100%;
    background-color:white;
    padding:2px;
    margin-left:1px;
    background-size:cover;
    background-position:center;
    /*background-image: url('https://cdn.glitch.com/18c60321-2e71-4e32-8a1f-a9e040bde3bc%2F50%20power.jpg?1531984353934');*/
}
#wow ul li{
    color:red;
    border-radius:8px;
    margin:30px;
    padding:9px;
    color:black;
    height: 40px;
    font-weight:bold;
    font-style:normal;
    list-style-type:none;
    font-size: large;
    width:100%;
    text-decoration: none;
    background-color:;
}
#wow{
    background-color:white;
    width:83%;
    margin:auto;
    height:18%;
    padding: 23px;
    position:absolute;
    left:9%;
}
#wow ul{
    display: inline-flex;
    width:100%;
    height:60%;
    padding:12px;
    background:;
    text-align: center;
}
#indent{
    width:42%;
    float:right;
    height:80%;
    margin-right:5px;
    margin-top:6px;
    padding-left:15px;
    
}
#gap{
    width:calc(calc(10vw + 1vh) + 0px);
    float:left;
    height:calc(calc(10vw + 1vh) + 0px);
    background-color:blue;
    margin-left:5px; 
    margin-top:6px;
}
#wrapper{
  background-color:white;
  width:calc(calc(65vw + 1vh) + 0px);
  height:90%;
  margin:auto;
  padding:0px;
  z-index:0;
  position:relative;
  top:2%;
  border-radius: : 2px red;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 19px rgba(0,0,0,0.8);
  box-shadow:0 0 0px rgba(0,0,0,0.8);

}
 
.box{
  margin: 100px auto;
  width: 400px;
  height: 50px;

}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
   
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}


h1 {
  font-style: italic;
  color: #373fff;
}
#playlist{
   color:white;
   margin:0px;
   width:100%;height:34%;
   position:relative;
   text-align: center;
   background-color:white;
  
}

#first:hover { 
    background-color: brown;
}
#playlist ul{
    display:inline-flex;
    width:100%;
    height:100%;
    
    padding:12px;
    
  
}
#playlist ul li{
   align-content:space-between;
   display: inline-flex;
   margin:2%;
   list-style-type:none;
   
   
}

#uo{
  color:white;
  margin:0px;
  
}
#uo ul{
    background-color:;
    margin:0px;
    padding:4px;
    height:100%;
   
}
#uo ul li{
   display:inline-block;
}
#ir{
  color:white;
  margin:0px;
}
#ir  ul {
  margin:0px;
  padding:4px;
  height:100%;
}
#profile_picture{
    width:40%;
    height:70%;
    background-color:white;
    padding:1px;
    margin:0px;
}
#ir ul li{
  
   background-color:;
   display:block;
   color:white;
}