<!doctype html>

<html lang="en">
  <head>
    <title>50 Cent</title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="-1">		
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    
    <!-- import the webpage's stylesheet -->
    <link rel="icon" id="favicon"  href="./favicon.png?v=2" type="image/x-icon">			
		<link rel="apple-touch-icon" href="./favicon.png" >
		<link rel="apple-touch-icon" sizes="180x180" href="./favicon.png" >		
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylefrom.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link href="maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- css -->
    
    <link rel="stylesheet" href="{{url_for('static', filename='css_one/styles.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css_one/controlsCircle.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css_one/volumeControl.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css_one/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css_one/albumCovers.css')}}">
    
    <link rel="stylesheet" media="screen and (max-width:1178px)"  href="{{url_for('static',filename='css/convert.css')}}">
    <link rel="stylesheet" media="screen and (max-width:1176px)"  href="{{url_for('static',filename='css/convert1.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <! --- javascript  file -->
    <script src="{{url_for('static', filename='jsx/L.js')}}"></script>
		<script src="{{url_for('static', filename='jsx/Initialize.js')}}"></script>
		<script src="{{url_for('static', filename='jsx/Qualify.js')}}"></script>
		<script src="{{url_for('static', filename='jsx/Update.js')}}"></script>
		<script src="{{url_for('static', filename='jsx/Xtra.js')}}"></script>
		<script src="{{url_for('static', filename='jsx/jsmediatags.js')}}"></script>
		
    
  

   </head>  
   <body id="boy">  
    <div id="wrapper">
      
      <div id="search">
        <nav class="navbar navbar-default" style="background-color:white;color:white; padding:0px;margin:0px;">
    <div class="container-fluid">
      <div class="navbar-header" style="color:white">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" style="color:black">
          <i class="fas fa-home"></i>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" style="color:black">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#" style="color:black">Link</a></li>
          <li class="dropdown">
            <a style="color:black" href="https://abbas411.com/myooz" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mobile<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
        <li><a style="color:black" href="">Welcome {{email}}</a></li>
          <li><a style="color:black" href="{{url_for('logout')}}">logout</a></li>
            
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <di id="tile">
    <h3 id="lol" style="webkit-font-smoothing: antialiased;font-size:500%;color:black;text-rendering: optimizeLegibility;font-weight: 800;font-style:normal;letter-spacing: -.02em;font-family: CNN Condensed,CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;">laugh  out loud</h3>
  </di>
      </div>
      <div id="next_near">
        <div id="vid">
            <div id="" style="background-color:; width:100%; height:100%">
              <span  id="main" style="font-size: 2.8rem;color:red;    -webkit-font-smoothing: antialiased; font-weight: 700;margin-bottom: 15px;font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;    line-height: 1.6666666667;"></span>
              <div id="videos" >
                 <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bFLow5StvvU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
          
          <div id="that">
          <! -- wow --- >
            <!--<div id="" style="float:right; background-color:; width:50%; opacity:0.8;color:">-->
            <!--    <div id="" style="color:white;float:right;width:50%;height:100%; background-color:">-->
            <!--      <h2 style=" color:white;margin-left:12px;font-size: 2.8rem; font-weight: 700;font-family: 'EB Garamond', serif;">-->
            <!--        Facebook-->
            <!--      </h2>-->
            <!--    </div>-->

            <!--    <div id="" style="float:left;color:white; width:50%;height:100%; background-color:">-->
            <!--      <h2 style="color:white;margin-left:12px;font-size: 2.8rem; font-weight: 700;font-family: 'EB Garamond', serif;"> -->
            <!--        Twitter-->
            <!--      </h2>-->

            <!--    </div>-->
            <!--  </div>-->
            <!--- end woo -->
             <div id="" style="float:left; background-color:; width:50%">
                <!--<div id="" style="color:white;float:right;width:50%;height:100%; background-color:">-->
                <!--  <h2 style="font-size: 2.8rem;margin-left:12px;color:white; font-size:24px; font-weight: 700;font-family: 'EB Garamond', serif;">-->
                <!--    Instagram-->
                <!--  </h2>-->

                <!--</div>-->

                <!--<div id="" style="float:left;color:white; width:50%;height:100%; background-color:">              -->
                <!--    <h2 style="font-size: 2.8rem;margin-left:12px;color:white; font-size:24px; font-weight: 700;font-family: 'EB Garamond', serif;">-->
                <!--    Instagram-->
                <!--  </h2>-->
                <!--</div>-->
              </div>
          </div>
            </div>
          
        </div>
        <div id="profile_picture">
          <!--- good --->
            <div id="indent">
            
              <h3 style="font-weight: 700;font-family: 'EB Garamond', serif;font-size: 2.8rem;">
                <h2 style="font-size: 2.8rem;color:black;font-weight: 700;font-family: 'EB Garamond', serif;">
                  Name
                </h2> 
                <span style="color:black">50cent</span>
              </h3>
              
              <h3 style="font-weight: 700;font-family: 'EB Garamond', serif;font-size: 2.8rem;"> 
                <h2 style="font-size: 2.8rem;font-weight: 700;color:black;font-family: 'EB Garamond', serif;">Place of birth</h2>
                <span style="color:black">Queens New York</span>
              </h3>
            
              <h3 style="font-weight: 700;font-family: 'EB Garamond', serif;font-size: 2.8rem;">
                <h2 style="font-size: 2.8rem;color:black;font-weight: 700;font-family: 'EB Garamond', serif;">Profession</h2>
             
                 <span style="color:black">Musician /  rapper</span>
              </h3>
          
          </div>
          <!--  end good --->
          
          <div id="gap" >
            <img id="hy" src="{{url_for('static' ,  filename="images/ds.jpg")}}" alt="Girl in a jacket">
          </div>
          
        </div>
        <div class="lost show" background-position:center;background-size:cover;background-image: url('https://cdn.glitch.om/18c60321-2e71-4e32-8a1f-a9e040bde3bc%2Fnewyork_city.jpg?1531983018498')>
            <div id="wow">
             <ul style="text-decoration:none;">
               <li style="text-decoration:none;" class="decoration">Home</li>
               <li style="text-decoration:none" class="decoration">places </li>
               <li style="text-decoration:none" class="decoration">Home</li>
               <li style="text-decoration:none" class="decoration">places </li>
               <li style="text-decoration:none" class="decoration">Home</li>
             </ul>
            </div>
            <!--<div id="songs" style="margin:0px;float:left;color:red;position:relative;top:0px;width:50%; height:76%; background-color:;">-->
            <!--    <img class="max-width_one max-height_one first_img" src="https://cdn.glitch.com/18c60321-2e71-4e32-8a1f-a9e040bde3bc%2F220px-Get_Rich_Or_Die_Tryin'.JPG?1532013553995" alt="Girl in a jacket">-->

            <!--</div>-->
        </div>
      </div>
    
      <div id="playlist">
        <ul>
          <li audio_tag="http://soundbible.com/mp3/Tyrannosaurus%20Rex%20Roar-SoundBible.com-807702404.mp3" class="change first_image"><img  class="max-width max-height first_img" src="https://cdn.glitch.com/18c60321-2e71-4e32-8a1f-a9e040bde3bc%2F220px-Get_Rich_Or_Die_Tryin'.JPG?1532013553995"  alt="Girl in a jacket"></li>
          <li song="" class="change second_image"><img class="max-width max-height second_img" src="https://cdn.glitch.com/18c60321-2e71-4e32-8a1f-a9e040bde3bc%2F220px-50_Cent_-_The_Massacre.png?1532013643209" alt="Girl in a jacket"></li>
          <li song="" class="change third_image"><img  class="max-width max-height third_img" src="https://cdn.glitch.com/18c60321-2e71-4e32-8a1f-a9e040bde3bc%2F268x0w.jpg?1532013702722"       alt="Girl in a jacket"></li>
          <li song="" class="peace remove">     <img   class="max-width max-height forth_img" firth" src="https://cdn.glitch.com/18c60321-2e71-4e32-8a1f-a9e040bde3bc%2F220px-50_Cent_-_The_Massacre.png?1532013643209"  style="width:100%;height:100%" alt="Girl in a jacket"></li>
        </ul>
      </div>
      <div id="" style="padding:0px;background-position:center;background-size:cover;background-image: url('https://cdn.glitch.om/18c60321-2e71-4e32-8a1f-a9e040bde3bc%2Fnewyork_city.jpg?1531983018498');color:white; position:relative;width:100%;height:46%; background-color:white">
        <div id="" style="padding:0px; width:100%; background-color:; color:white;border-radius:0px; height:100%;  margin:auto; left:10">
            <!--<div id="" style="float:right; background-color:; width:50%; opacity:0.8">-->
            <!--    <div id="firsti" style="color:white;float:right;hover:white;width:50%;height:100%; background-color:white">-->
            <!--      <h2 style="margin-left:12px; color:black;font-weight: 700;font-family: 'EB Garamond', serif;font-size: 2.8rem;">-->
            <!--        Album-->
            <!--      </h2>-->
            <!--    </div>-->

            <!--    <div id="" style="float:left;color:white; width:50%;height:100%; background-color:white">-->
            <!--      <h2 style="margin-right:12px;color:black;  float:right;font-weight: 700;font-family: 'EB Garamond', serif;font-size: 2.8rem; "> -->
            <!--        playlist-->
            <!--      </h2>-->
            <!--    </div>-->
            <!--  </div>-->
            
             <!--<div id="" style="float:left; background-color:white; width:50%;">-->
             <!--   <div id="" style="color:white;float:right;width:50%;height:100%; background-color:white">-->
             <!--     <h2 style="margin-left:12px;font-size:30px; color:black;font-size: 2.8rem;font-style:large">-->
             <!--       information-->
             <!--     </h2>-->
             <!--   </div>-->

             <!--   <div id="" style="float:left;color:white; width:50%;height:100%; background-color:white">-->
             <!--     <h2 style="margin-left:12px; color:black;font-weight: 700;font-family: 'EB Garamond', serif;font-size: 2.8rem;"> -->
                    
             <!--     </h2>-->

             <!--   </div>-->
             <!-- </div>-->
        <br />
        <br />
        
        <br />
        <div id="thollie">
          
          <audio id="player"></audio>
		
		<div id="songBanner">
			<div id="songTitle"></div>
			<select id="songSelector">
				<option>(duh)</option>
			</select>
		</div>
		<!--==========| Album Covers |=============-->
	  <div id="albumCoverSection">
      <div id="lastAlbumCover" class="albumCover"></div>
      <div id="nextAlbumCover" class="albumCover"></div>
      <div id="currentAlbumCover" class="albumCover"></div>
    </div>
    
	  <!--===============| Volume Bar |=================-->
	  <div id="volumeTouchZone" class="volumeGroup">
		  <div id="volumeBarContainer" class="volumeGroup">
		  	<div id="volumeBar" class="volumeGroup">
		  		<div id="volumeBead" class="volumeGroup"></div>
		  	</div>
		  </div>	  	
	  </div>
	  <div id="muteButton" title="mute"></div>
	  <div id="shuffleButton" title="shuffle"></div>
    <div id="hiddenVolumeControl"></div>
	  <!--================| Controls |================-->
	  
	  <div id="controlsCircle">
	  	<div id="controlsHolder">
	  		
	  		<div id="playerControls">
	  			<div id="backButton" class="playerButtons"></div>
	  			<div id="playPause" class="playerButtons"></div>
	  			<div id="nextButton" class="playerButtons"></div>
	  		</div>
	  		
	  		<div id="timeControls" class="progressGroup">
		  		<div id="time" class="timeLine"><span id="timeText">00:00</span></div>	 	  		
		  		<div id="progressBarContainer" class="timeLine progressGroup">
		  			<div id="progressBar" class="progressGroup">
		  				<div id="progressBead" class="progressGroup"></div>
		  			</div>
		  		</div>
				<div id="duration" class="timeLine"><span id="durationText">00:00</span></div>	  			
	  		</div>

	  	</div><!--======| END of controlsHolder |======-->
	  </div>
		<!--=====| menuIconAssembly |====-->
		<div id="menuIconAssembly">
			<div id="burger">
				<div id="topLine" class="burgerLine"></div>
				<div id="middleLine" class="burgerLine"></div>
				<div id="bottomLine" class="burgerLine"></div>
			</div>
			<div id="menuGlass"></div>
		</div><!--=====| END menuIconAssembly |====-->   
		<div id="menu">
    	    <br><br><br>
    	    
            <div id="fileSelectorAssembly">
                <div id="fileSelectorBackground" class="menuButton">
                  <span id="fileSelectorText" class="menuButtonText">Upload an mp3 File</span>
                </div>
                <input type="file" id="fileSelector" multiple accept=".mp3">
            </div>
            
            <div id="fileDeleterAssembly">
                <div id="fileDeleterBackground" class="menuButton">
                    <span id="fileDeleterText"  class="menuButtonText">Delete Song(s)</span>
                </div>
                <div id="fileDeleterGlass"></div>
            </div>
            
    		<div id="uploadProgressBar">&nbsp;</div>

    	</div> 
	 
        </div>
      
      </div>
      </div>
      </div>
  
  <script>
	  	window.addEventListener("load", c.initialize, true);
	  </script>
  </body>
</html>
